<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong> <%= fa_icon "chevron-right"%>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= time_format(event.start_date) %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= time_format(event.end_date) %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= event.venue %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

</div>
