<div class="col-sm-9 pull-left">
  <%= link_to event_path(event) do %>
  <div class="events">
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag event.image_url, class: "event-image" if event.image_url %>
      </div>
      <div class="col-sm-9">
        <h3 class="event-title"><%= event.title %></h3>
        <p>
          <span class="event-venue"><%= event.venue %> - <strong><%= event.location %></strong>
          </span>
        </p>
        <p class="lead-time">
          <span class="event-start"><%= time_format(event.start_date) %></span>
          <span class="pull-right">Organized by: <%= event.organizer %> </span>
        </p>
        <p class="index-icons">
          <span class="glyphicon glyphicon-comment"><%= event.comments.count %></span>
          <span class="glyphicon glyphicon-thumbs-up"><%= event.likes_total %></span>
          <span class="glyphicon glyphicon-thumbs-down"><%= event.dislikes_total %></span>

        </p>
      </div>
    </div>
  </div>
  <%end%>
</div>

