<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <%= simple_form_for(event) do |form| %>
      <% if event.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% event.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.input :title %>

      <%= form.input :description %>

      <%= form.input :start_date, as: :datetime, start_year: Date.today.year, order: [:day, :month, :year] %>

      <%= form.input :end_date, as: :datetime, start_year: Date.today.year, order: [:day, :month, :year] %>

      <%= form.input :venue %>

      <%= form.input :location %>

      <%= form.input :category_id, collection: Category.all, label: "Select Category", prompt: true %>

      <%= form.input :seats, label: "Capacity", hint: "The number of attendees to the event" %>

      <%= form.input :tag_list, label: "Tags", hint: "Please enter comma (,) separated words" %>

      <%= form.input :image, as: :file, label: "Upload Event Image" %>

      <%= form.button :submit, class: "btn btn-primary" %>

    <% end %>
  </div>
</div>

